#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg) 50% 50%/cover no-repeat;
  z-index: -9999; }

#hero-heading {
  color: #fff !important;
  text-shadow: 2px 2px 5px #000; }

#navigation {
  background-color: rgba(0, 0, 0, 0.6); }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff; }

.uk-navbar-dropdown li {
  overflow: hidden;
  position: relative; }
  .uk-navbar-dropdown li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 4px;
    background: deepskyblue;
    transition-property: "left", "right";
    transition-duration: 0.2s;
    transition-timing-function: ease-out; }
  .uk-navbar-dropdown li:hover:before, .uk-navbar-dropdown li:focus:before, .uk-navbar-dropdown li:active:before {
    left: 0;
    right: 0; }
