$white: #fff;
$black: #000;

#hero {
    //background-image: url('../images/hero.jpg');
    //background-color: linear-gradient(rgba($black, 0.25), rgba($black, 0.25));
    background: 
        linear-gradient(rgba($black, 0.4), rgba($black, 0.4)),
        url(../images/hero.jpg) 50% 50% / cover no-repeat;
    z-index: -9999;
}

#hero-heading {
    color: $white !important;
    text-shadow: 2px 2px 5px #000;
}

#navigation {
    background-color: rgba($black, 0.6);
}

.hamburger-inner {
    background-color: $white;
    &::before, &::after {
        @extend .hamburger-inner;
    }
}

.uk-navbar-dropdown li {
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		right: 50%;
		bottom: 0;
        height: 4px;
        background: deepskyblue;
        transition-property: "left", "right";
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
    }

    &:hover,
    &:focus,
    &:active {
        &:before {
            left: 0;
            right: 0;
        }
    }
}